kind: MLApp
metadata:
  name: tensorflow
spec:
  package_manager: "pip3"
  tasks:
  - name: train
    resources:
    - name: worker
      replicas: 1
      restartPolicy: Never
      maxRestartCount: 0
      allowFail: true
      images:
        gpu: "kuberlab/tf-object-detection:1.9.0-gpu"
        cpu: "kuberlab/tf-object-detection:1.9.0"
      command: >-
        sed -i -e "s|%DATADIR%|$DATA_DIR|g" $SRC_DIR/faster_rcnn_resnet101_pets.config;
        python object_detection/model_main.py
        --model_dir $TRAINING_DIR/$BUILD_ID
        --pipeline_config_path $SRC_DIR/faster_rcnn_resnet101_pets.config
        --num_train_steps=1000
      workdir: "$RESEARCH_DIR"
      resources:
        accelerators:
          gpu: 1
        requests:
          cpu: 100m
          memory: 2Gi
        limits:
          cpu: 2000m
          memory: 16Gi
      default_volume_mapping: true
      env:
      - name: PYTHONPATH
        value: /notebooks/research
  - name: export
    resources:
    - name: worker
      replicas: 1
      restartPolicy: Never
      maxRestartCount: 0
      allowFail: true
      images:
        gpu: "kuberlab/tf-object-detection:1.9.0-gpu"
        cpu: "kuberlab/tf-object-detection:1.9.0"
      command: >-
        BUILD=1;
        CHECKPOINT=1000;
        MODEL_NAME=object-detection;
        MODEL_VERSION=1.0.0;
        sed -i -e "s|%DATADIR%|$DATA_DIR|g" $SRC_DIR/faster_rcnn_resnet101_pets.config;
        python object_detection/export_inference_graph.py
        --input_type encoded_image_string_tensor
        --pipeline_config_path $SRC_DIR/faster_rcnn_resnet101_pets.config
        --trained_checkpoint_prefix $TRAINING_DIR/$BUILD/model.ckpt-${CHECKPOINT}
        --output_directory $TRAINING_DIR/model/$BUILD;
        python -c "from mlboardclient.api import client; m = client.Client(); m.model_upload('$MODEL_NAME', '$MODEL_VERSION', '$TRAINING_DIR/model/$BUILD/saved_model'); m.update_task_info({'model': '#/$WORKSPACE_NAME/catalog/mlmodel/$MODEL_NAME/versions/$MODEL_VERSION'})"
     workdir: "$RESEARCH_DIR"
      resources:
        accelerators:
          gpu: 0
        requests:
          cpu: 100m
          memory: 64Mi
        limits:
          cpu: 1000m
          memory: 4Gi
      default_volume_mapping: true
      env:
      - name: PYTHONPATH
        value: /notebooks/research
  uix:
  - name: jupyter
    displayName: Jupyter
    images:
      gpu: "kuberlab/tf-object-detection:1.9.0-gpu"
      cpu: "kuberlab/tf-object-detection:1.9.0"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 1000m
        memory: 4Gi
    ports:
    - port: 8888
      targetPort: 8888
      protocol: TCP
      name: http
    default_volume_mapping: true
    env:
    - name: PYTHONPATH
      value: /notebooks/research
  - name: tensorboard
    displayName: Tensorboard
    command: "tensorboard --logdir=$TRAINING_DIR"
    images:
      gpu: "kuberlab/tensorflow:gpu-36-1.9.0-full"
      cpu: "kuberlab/tensorflow:cpu-36-1.9.0-full"
    ports:
    - port: 6006
      targetPort: 6006
      protocol: TCP
      name: http
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 1000m
        memory: 2Gi
    volumes:
    - name: training
  serving:
  - name: serving
    displayName: Serving
    images:
      gpu: "kuberlab/serving:latest-gpu"
      cpu: "kuberlab/serving:latest"
    command: 'kuberlab-serving --port={{ .serving_port }} --model-path=/model'
    workdir: "$SRC_DIR"
    resources:
      accelerators:
        gpu: 0
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 1000m
        memory: 4Gi
    ports:
    - port: {{ .serving_port }}
      targetPort: {{ .serving_port }}
      protocol: TCP
      name: grpc
    default_volume_mapping: true
    spec:
      outMimeType: text/plain
      rawInput: true
      model: any
      params:
        - name: inputs
          type: bytes
  volumes:
  - mountPath: /notebooks/training
    name: training
    clusterStorage: {{ .storage.value }}
  - gitRepo:
      repository: https://github.com/kuberlab-catalog/object-detection
    mountPath: /notebooks/src
    name: src
    subPath: object-detection/src
  - isLibDir: true
    mountPath: /notebooks/lib
    name: lib
    clusterStorage: {{ .storage.value }}
  - mountPath: /notebooks
    name: code
    clusterStorage: {{ .storage.value }}
  - mountPath: /notebooks/data
    name: data
    {{- if .dataset.value }}
    datasetFS:
      dataset: {{ .dataset.value }}
      workspace: {{ .dataset.workspace }}
      version: {{ .dataset.version }}
    {{- else }}
    clusterStorage: {{ .storage.value }}
    {{- end }}
  - mountPath: /notebooks/research
    name: research
    {{- if .code.value }}
    model:
      model: {{ .code.value }}
      workspace: {{ .code.workspace }}
      version: {{ .code.version }}
    {{- else }}
    clusterStorage: {{ .storage.value }}
    {{- end }}
